streamlit
streamlit_extras
langchain>=0.2.0,<0.3.0
qdrant_client>=1.14.0,<1.16.0
openai
langchain_openai
langchain-community
langchain-core
langchain-text-splitters
python-dotenv
tiktoken
faiss-cpu
youtube-transcript-api